/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* VARIÁVEIS */
:root {
  --azul: #1274CC;
  --amarelo: #F8D25C;
  --branco: #ffffff;
  --preto: #222222;

  --fonte-destaque: 'Sugar Pie', cursive;
  --fonte-divertida: 'Playpen Sans', cursive;
  --fonte-seria: 'Ruda', sans-serif;
}

/* BODY */
body {
  font-family: var(--fonte-divertida);
  background-color: #cdeaff;
  color: var(--preto);
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
  padding: 20px;
  text-align: center;
}

/* FUNDO COM IMAGEM */
.fundo-completo::before {
  content: '';
  position: fixed;
  inset: 0;
  background: url("../IMAGENS/WALLPAPER.webp") no-repeat center center;
  background-size: cover;
  filter: blur(4px);
  transform: scale(1.05);
  z-index: -2;
}

.fundo-completo::after {
  content: '';
  position: fixed;
  inset: 0;
  background: rgba(29, 116, 150, 0);
  z-index: -1;
}

/* MENU PATINHA */
.menu-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  z-index: 1001;
  cursor: pointer;
}

.menu-btn img {
  width: 55px;
  height: 55px;
  filter: drop-shadow(2px 2px 4px rgba(250, 249, 249, 0.4));
  transition: transform 0.2s ease;
}

.menu-btn img:hover {
  transform: scale(1.1);
}

/* SUBMENU */
.submenu {
  position: absolute;
  top: 80px;
  right: 20px;
  background: rgba(16, 114, 170, 0.342);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 10px;
  padding: 15px 20px;
  display: none;
  z-index: 1000;
  box-shadow: 0 4px 10px rgba(248, 246, 246, 0.3);
  transition: all 0.3s ease-in-out;
  text-align: right;
  }

.submenu a {
  color: var(--amarelo);
  font-size: 16px;
  font-family: var(--fonte-divertida);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

.submenu.mostrar {
  display: block;
}

.submenu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.submenu li {
  margin-bottom: 10px;
  text-align: right;
}

.submenu a {
  color: var(--branco);
  text-decoration: none;
  font-weight: bold;
  font-family: var(--fonte-seria);
}


/* LOGO */
.logo-topo {
  width: 150px;
  margin: 0 auto 20px auto;
  display: block;
  filter: drop-shadow(0 0 6px gold);
}


/* TÍTULO */
.titulo {
  text-align: center;
  margin: 10px auto 25px auto;
  line-height: 1.4;
  color: var(--azul);
  font-size: 2.3em;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 1.7);
}

.titulo .parte1 {
  font-family: var(--fonte-destaque);
  display: block;
  font-size: 1.0em;
  font-weight: 300;
  color: var(--branco);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1.5),
    0 0 4px rgb(3, 41, 90);
}

.titulo .parte2 {
  font-family: var(--fonte-divertida);
  font-size: 0.7em;
  color: var(--amarelo);
  ttext-shadow: 2px 2px 4px rgba(0, 0, 0, 1.5),
    0 0 4px rgb(3, 41, 90);
  display: block;
  margin-top: 5px;
}

/* BOLHAS DE LOCALIZAÇÃO */
.opcoes-localizacao {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 50px;
  z-index: 10;
  position: relative;
}

.opcoes-localizacao .opcao {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px;
  background: rgba(255, 255, 254, 0.171);
  border-radius: 20px;
  backdrop-filter: blur(2px);
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  font-size: 22px;
  animation: flutuar 4s ease-in-out infinite alternate;
  transition: transform 0.3s ease;
  cursor: pointer;
  width: 100px;
}

.opcoes-localizacao .opcao:hover {
  transform: scale(1.05);
}

.opcoes-localizacao .opcao img {
  width: 90px;
  height: auto;
  object-fit: contain;
}

.opcoes-localizacao .opcao span {
  font-family: var(--fonte-seria);
  font-size: 1rem;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}

/* Animação flutuacao */
@keyframes flutuar {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-8px);
  }
}

/* RODAPÉ */
footer {
  text-align: center;
  font-size: 14px;
  color: var(--branco);
  line-height: 1.4;
  background: transparent;
  padding: 20px 10px;
}

footer p {
  text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
  margin-bottom: 6px;
}

/*  RESPONSIVO RODAPÉ*/
@media (max-width: 480px) {
  footer {
    font-size: 12px;
    line-height: 1.3;
  }
}